*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;   
}


.imageWide{
  background-color: #ccc;
  background-image: url(../images/pattern-curve.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 40px;
  padding-top: 40px;

}


.bOX__01 {
    /* background-color: #cfaf72; */
    height: 280px;
    width: 280px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: orange;
}

.bOX__01 h5{
      font-size: 53px;
    font-weight:bold;
}

.wideBoxes{
  position: relative;
}

.bOX__01:nth-child(1) {
    position: absolute;
    left: -190px;
    top: -410px;
     border-radius: 100%;
}

.bOX__01:nth-child(2) {
    position: absolute;
    left: 100px;
    top: -347px;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background: green;
}
.bOX__01:nth-child(3) {
    position: absolute;
    left: -155px;
    border-radius: 100%;
    background: teal !important;
    top: -106px;
    width: 208px;
    height: 208px;
}
.bOX__01:nth-child(4) {
    position: absolute;
    left: -190px;
    border-radius: 100%;
    top: 118px;
    height: 180px;
    width: 180px;
    left: -144px;
    font-size: small;
    background: cornflowerblue;
}

.bOX__01:nth-child(5) {
    top: -88px !important;
    position: absolute;
    width: 230px;
    height: 230px;
    left: 70px;
    background: pink;
    border-radius: 100%;
}










-------------------------------------------




.sliderLeftSide{
  width: 40% !important;
  background: rgb(119, 118, 118);
}


.sliderRightSide{
  width: 60%;  
  background: darkcyan;
  color: aliceblue;
  padding: 80px;
}

 .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      /* display: flex; */
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      /* display: block; */
      width: 100%;
      /* height: 100%; */
      object-fit: cover;
    }

    .sliderFlex {
    display: flex !important;
    flex-wrap: wrap !important;
}